body{
    background-color: black;
}
div{
    text-align: center;
}

h1, h2{
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p,ul,ol{
    list-style-position: inside;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
